@font-face {
  font-family: 'IBM Plex Sans ExtraBold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src:
    local('IBM Plex Sans ExtraBold'),
    url('/fonts/IBM Plex Sans.otf') format('opentype'),
    url('/fonts/IBM Plex Sans.woff') format('woff');
}
